<div class="container">
  <h1>Login</h1>
  <form action="/api/login" method="POST">
    <input type="text" placeholder="username" class="field" name="username" />
    <input
      type="password"
      placeholder="password"
      class="field"
      name="password"
    />
    <input type="submit" value="login" class="btn" />
  </form>
  <a href="/signup">Don't have an account?</a>
</div>